h2{
    /* background-color: #7FFFB4; */
    /* background-color: rgb(72, 72, 255); */
    background-color: rgb(25, 25, 95);
    text-align: center;
    margin-bottom: 20px;
    color: #EEE;
    border-radius: 5px;
}
