

button{
    cursor: pointer;
    background-color: rgb(25, 25, 95);
    color: white;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'Courier New', monospace;
}

button:disabled{
    background-color: grey;
}

input, .addBtn{
    padding: 3px;
    margin-bottom: 20px;
    display: inline-block;
}

input{
    float: left;
    width: 75%;
    border: solid 1px black;
    border-radius: 4px;
}

.addBtn{
    float: right;
    width: 15%;
}

ul{
    clear: both;
}

li, .delBtn{
    display: inline-block;
}

li{
    float: left;
    margin: 3px;
}

.delBtn{
    float: right;
    width: 15%;
}